.folders-modal {
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  .folders-filter {
    text-align: right;
    padding: .5rem 0;

    .search-input {
      display: inline-block;
    }
  }

  .action-search {
    height: 25px;
    font-size: 0.8em;
    padding: 0 30px 0 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;

    &::-ms-clear {
      display: none;
    }
  }

  .folders {
    position: relative;
    height: 200px;
    overflow: auto;
    border: 1px solid #CECECE;
    padding: 2px;
    background: $white;
  }
}
