<talend-modal ng-if="easterEggsCtrl.state.easterEggsState.displayEasterEgg"
              fullscreen="true"
              close-button="true"
              disable-enter="true"
              on-close="easterEggsCtrl.disableEasterEgg()"
              state="easterEggsCtrl.state.easterEggsState.displayEasterEgg"
              ng-switch="easterEggsCtrl.state.easterEggsState.currentEasterEgg"
>
    <star-wars ng-switch-when="star wars"></star-wars>
    <bozo-the-clown ng-switch-when="bozo the clown"></bozo-the-clown>
</talend-modal>
