.header .tc-header-bar {
  position: relative;
  height: $navbar-height;
}

.tc-typeahead-container {
  margin-right: 1rem;
  padding-right: 3rem;
  background: $white;
}

.tc-typeahead-item-title {
  white-space: initial;
}
