{
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "ignore": [
    "**/**/*.css"
  ],
  "presets": [
    "es2015",
    ["env", {
      "targets": {
        "ie": 11,
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ]
}
