<form class="action-search-container"
      ng-if="ctrl.shouldRender()">
    <input type="search"
           class="form-control action-search"
           id="action-suggestions-search"
           translate-once-placeholder="FIND_FUNCTION"
           ng-model="ctrl.getSuggestionsState().searchActionString"
           ng-model-options="{debounce: { default: 300, blur: 0 }}"
           ng-change="ctrl.TransformationService.filter(ctrl.getFilteringScope(), ctrl.getSuggestionsState().searchActionString)"
           talend-search-input>

        <actions-list class="action-suggestion-tab-items"
                  actions="ctrl.getSuggestionsState().filteredTransformations"
                  scope="{{ctrl.scope}}"
                  should-render-category="ctrl.shouldRenderCategory"
                  should-render-action="ctrl.shouldRenderAction"
                  scroll-to-bottom="ctrl.scrollToBottom"></actions-list>
    <div ng-if="ctrl.getSuggestionsState().filteredTransformations.length === 0 && ctrl.getSuggestionsState().searchActionString"
         class="empty-message action-message">
        <span translate-once="NO_ACTION_AVAILABLE"></span>
    </div>
</form>
<div ng-if="!ctrl.shouldRender()" class="empty-panel-msg">
     {{ctrl.getInvalidSelectionKey() | translate}}
</div>
