loader {
	margin: auto;

	.loading-msg {
		text-align: center;
		background: transparent;
		color: $pale-blue;
		opacity: 0.8;

		.wait {
			&-icon {
				width: 16px;
				height: 16px;
				position: absolute;
			}

			&-text {
				padding-left: 40px;
			}
		}
	}
}
