<talend-modal fullscreen="false"
              class="confirm-modal"
              state="$ctrl.state.confirm.visible"
              ng-if="$ctrl.state.confirm.visible">

    <p class="confirm-content" ng-repeat="text in $ctrl.state.confirm.texts track by $index">
		{{text}}
	</p>

    <div class="modal-buttons">
        <button
            class="btn talend-modal-close btn-default btn-inverse modal-secondary-button"
            ng-click="$ctrl.ConfirmService.reject()">
            <span>
                {{ ($ctrl.state.confirm.deletion ? 'CANCEL' : 'NO') | translate }}
            </span>
        </button>
        <button
            class="btn modal-primary-button"
            ng-class="{ 'btn-danger': $ctrl.state.confirm.deletion, 'btn-primary': !$ctrl.state.confirm.deletion }"
            ng-click="$ctrl.ConfirmService.resolve()"
            type="submit">
            <span>
                {{ ($ctrl.state.confirm.deletion ? 'DELETE' : 'YES') | translate }}
            </span>
        </button>
    </div>
</talend-modal>
