<talend-modal fullscreen="false"
              state="$ctrl.ImportService.datasetNameModal"
              ng-if="$ctrl.ImportService.datasetNameModal">
    <span translate-once="ENTER_DATASET_NAME"></span>
    <form name="$ctrl.ImportService.datasetNameForm"
          ng-submit="$ctrl.ImportService.datasetNameForm.$valid && $ctrl.ImportService.onImportNameValidation()">
        <input type="text"
               class="form-control"
               ng-model="$ctrl.ImportService.datasetName"
               required
               ng-model-options="{debounce: { 'default': 200, 'blur': 0 }}"/>

        <div class="modal-buttons">
            <button class="btn talend-modal-close btn-default btn-inverse modal-secondary-button"
                    type="button"
                    translate-once="CANCEL"></button>
            <button class="btn talend-modal-close btn-primary modal-primary-button"
                    ng-disabled="$ctrl.ImportService.datasetNameForm.$invalid"
                    translate-once="OK"></button>
        </div>
    </form>
</talend-modal>
