<div class="app">
	<header role="banner" class="header">
		<app-header-bar search-toggle="$ctrl.state.search.searchToggle"
						searching="$ctrl.state.search.searching"
						search-input="$ctrl.state.search.searchInput"
						search-results="$ctrl.state.search.searchResults"
						search-focused-section-index="$ctrl.state.search.focusedSectionIndex"
						search-focused-item-index="$ctrl.state.search.focusedItemIndex" />
	</header>
	<div class="content">
		<div class="sidemenu">
			<side-panel id="'side-panel'" active="$ctrl.$state.current.name"></side-panel>
		</div>
		<ng-transclude class="main"></ng-transclude>
		<div ng-if="$ctrl.state.home.content.isLoading" class="content-loader">
			<pure-loader></pure-loader>
		</div>
	</div>
</div>
